@model AprendiendoWeb.Models.Empleado

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<h1>Details</h1>
<div class="box box-info">
    <div>
        <h4>Empleado</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Codigo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Codigo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cedula)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cedula)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FechaNacimiento)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FechaIngreso)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Apellido)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Apellido)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Sexo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Sexo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EstadoCivil)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EstadoCivil)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TipoSangre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TipoSangre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nacionalidad)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nacionalidad)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Religion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Religion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Telefono)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Direccion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SalarioMensual)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SalarioMensual)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DepartamentoQuePertenece)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DepartamentoQuePertenece)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NombreContactoEmergencia)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NombreContactoEmergencia)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TelefonoContactoEmergencia)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TelefonoContactoEmergencia)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AFPQuePertenece)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AFPQuePertenece)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ARSQuePertenece)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ARSQuePertenece)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Observaciones)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Observaciones)
            </dd>
        </dl>
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        <a asp-action="Index">Back to List</a>
    </div>
    </div>