@model ReflectionIT.Mvc.Paging.PagingList<AprendiendoWeb.Models.Empleado>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<div>
    <form method="get" class="form-inline" asp-action="Index">
        <input name="filter" class="form-control" placeholder="Filtro"
               value="@Model.RouteValue["Filter"]" />
        <button type="submit" class="btn  btn-warning">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar
        </button>

        <a asp-action="Create" class="btn btn-warning btn-sm pull-right">
            <span class="glyphicon glyphicon-plus"></span>  Crear Empleado
        </a>
    </form><br />
</div>

<div class="box box-warning">
    <div class="box-header text-center">
        <h4 class="text-center"><strong>Listado de Empleados</strong></h4>
        <hr />
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.SortableHeaderFor(model => model.Codigo)
                </th>
                <th>
                    @Html.SortableHeaderFor(model => model.Cedula)
                </th>
                <th>
                    @Html.SortableHeaderFor(model => model.Nombre)
                </th>
                <th>
                    @Html.SortableHeaderFor(model => model.Apellido)
                </th>
                <th>
                    @Html.SortableHeaderFor(model => model.Telefono)
                </th>
                <th>
                    @Html.SortableHeaderFor(model => model.Email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cedula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Codigo }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Codigo }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Codigo })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="box-footer">
        <nav aria-label="Roles navigation example">
            <vc:pager paging-list="@Model" />
        </nav>
    </div>
    <div class="box-footer text-muted text-right">
        <strong>P&aacute;gina @ViewBag.NumPagina</strong>
    </div>
</div>